<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/splash"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Attendance_Jetpack"
        tools:targetApi="31">
        <activity
            android:name=".Cr_verification"
            android:exported="false"
            android:label="@string/title_activity_cr_verificaiton"
            android:theme="@style/Theme.Attendance_Jetpack" />
        <activity
            android:name=".Teacher_verification"
            android:exported="false"
            android:label="@string/title_activity_teacher_verification"
            android:theme="@style/Theme.Attendance_Jetpack" />
        <activity
            android:name=".Student_verification"
            android:exported="false"
            android:label="@string/title_activity_student_verification"
            android:theme="@style/Theme.Attendance_Jetpack" />

        <activity
            android:name=".Teacher_dashboard"
            android:exported="false"
            android:label="@string/title_activity_teacher_dashboard"
            android:theme="@style/Theme.Attendance_Jetpack" />
        <activity
            android:name=".Student_dashboard"
            android:exported="false"
            android:label="@string/title_activity_student_dashboard"
            android:theme="@style/Theme.Attendance_Jetpack" />
        <activity
            android:name=".Splash_Activity"
            android:exported="true"
            android:label="Attendance Dashboard"
            android:theme="@style/Theme.Attendance_Jetpack" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Signup.Signup"
            android:exported="false"
            android:label="@string/title_activity_signup_page"
            android:theme="@style/Theme.Attendance_Jetpack" />
        <activity
            android:name=".Login.Login"
            android:exported="false"
            android:theme="@style/Theme.Attendance_Jetpack" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Attendance"
            android:theme="@style/Theme.Attendance_Jetpack">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
    </application>

</manifest>